@model BstEnvanter.WebUI.Models.AddBrandViewModel
@{
    ViewData["Title"] = "AddBrand";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Add a New Brand</h1>
        <hr />
    </div>
    <form asp-action="addbrand" class="col-md-8" method="post">
        <div class="form-group">
            <input asp-for="brand.name" class="form-control" type="text" placeholder="Name" />
            <span asp-validation-for="brand.name"></span>
        </div>
        <div class="mt-1 text-end">
            <button class="btn btn-primary col-md-2">Add</button>
            <a asp-action="listofbrand" class="btn btn-info col-md-2">Back</a>
        </div>
    </form>
</div>