@model BstEnvanter.WebUI.Models.AddCommonViewModel
@{
    ViewData["Title"] = "AddCommon";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="containter-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Ortak Lokasyonu Ekle</h1>
        <hr />
    </div>
    <form class="col-md-8" method="post" asp-action="addproducttocommon">
        <div class="form-group row pt-4">
            <label for="inputCommonDepartment" class="col-md-2 col-form-label">Departman</label>
            <div class="col-md-10">
                <select asp-for="common.departmentId" id="inputCommonDepartment" class="form-select" asp-items="@(new SelectList(Model.department,"id","name"))"></select>
            </div>
        </div>
        <div class="form-group row pt-4">
            <label for="inputCommonLocation" class="col-md-2 col-form-label">Lokasyon</label>
            <div class="col-md-10">
                <select id="inputCommonLocation" asp-for="common.cLocationId" class="form-select" asp-items="@(new SelectList(Model.clocation,"id","name"))"></select>
            </div>
        </div>
        <div class="mt-1 text-end">
            <button class="btn btn-primary col-md-2" asp-route-id="@Model.id">Ekle</button>
            <a asp-action="listofproduct" class="btn btn-info col-md-2">Geri</a>
        </div>
    </form>
</div>