@model BstEnvanter.WebUI.Models.AddCategoryViewModel
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Yeni Kategori Ekle</h1>
        <hr />
    </div>
    <form class="col-md-8" method="post" asp-action="addcategory">
        <div class="form-group row pt-4">
            <label for="inputCategory" class="col-md-2 col-form-label">Kategori</label>
            <div class="col-md-10">
                <input class="form-control" asp-for="category.name" type="text" placeholder="Kategori" />
                <span class="text-danger" asp-validation-for="category.name"></span>
            </div>
        </div>
        <div class="mt-1 text-end">
            <button class="btn btn-primary col-md-2">Ekle</button>
            <a asp-action="listofcategory" style="background-color:#607D8B" class="btn text-white col-md-2">Geri</a>
        </div>
    </form>
</div>
