@model BstEnvanter.WebUI.Models.AddPersonelViewModel
@{
    ViewData["Title"] = "AddPersonel";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Add a New Personel</h1>
        <hr />
    </div>
    <form asp-action="addpersonel" class="col-md-8" method="post">
        <div class="form-group">
            <input asp-for="personel.name" class="form-control" type="text" placeholder="Name" />
            <span asp-validation-for="personel.name"></span>
        </div>
        <div class="form-group">
            <input asp-for="personel.surname" class="form-control" type="text" placeholder="Surname" />
            <span asp-validation-for="personel.surname"></span>
        </div>
        <div class="form-group">
            <input asp-for="personel.age" class="form-control" type="number" placeholder="Age" />
            <span asp-validation-for="personel.age"></span>
        </div>
        <div class="form-group">
            <select asp-for="personel.sexId" class="form-control" asp-items="@(new SelectList(Model.sex,"id","name"))"></select>
        </div>
        <div class="form-group">
            <select asp-for="personel.departmentId" class="form-control" asp-items="@(new SelectList(Model.deparment,"id","name"))"></select>
        </div>
        <div class="form-group">
            <input asp-for="personel.eMail" class="form-control" type="email" placeholder="E-Mail" />
            <span asp-validation-for="personel.eMail"></span>
        </div>
        <div class="form-group">
            <select asp-for="personel.cLocationId" class="form-control" asp-items="@(new SelectList(Model.cLocation,"id","name"))"></select>
        </div>

        <div class="mt-1 text-end">
            <button class="btn btn-primary col-md-2">Add</button>
            <a asp-action="listofpersonel" class="btn btn-info col-md-2">Back</a>
        </div>
    </form>
</div>
