@model BstEnvanter.WebUI.Models.UpdateRamViewModel
@{
    ViewData["Title"] = "UpdateRam";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Ram Güncelle</h1>
        <hr />
    </div>
    <form asp-action="updateram" class="col-md-8" method="post">
        <div class="form-group row pt-4">
            <label for="inputRam" class="col-md-2 col-form-label">Ram</label>
            <div class="col-md-10">
                <input asp-for="ram.name" class="form-control" type="text" placeholder="@Model.ram.name" />
            <span asp-validation-for="ram.name"></span>
        </div>
        </div>
        <div class="form-group text-end mt-3">
            <input type="hidden" asp-for="ram.id" />
            <input type="submit" value="Güncelle" class="btn btn-success col-md-2">
            <a class="btn btn-info col-md-2" asp-action="listofram">Geri</a>
        </div>
    </form>
</div>


