@model BstEnvanter.WebUI.Models.UpdateHardDriveViewModel
@{
    ViewData["Title"] = "UpdateHardDrive";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Sabit Disk Güncelle</h1>
    <hr />
</div>
<div class="container-fluid">
    <form asp-action="updateharddrive" class="col-md-8" method="post">
        <div class="form-group row pt-4">
            <label for="inputHdd" class="col-md-2 col-form-label">Sabit Disk</label>
            <div class="col-md-10">
                <input asp-for="hardDrive.name" id="inputHdd" class="form-control" type="text" placeholder="@Model.hardDrive.name" />
                <span class="text-danger" asp-validation-for="hardDrive.name"></span>
            </div>
        </div>
        <div class="form-group text-end">
            <input type="hidden" asp-for="hardDrive.id" />
            <input type="submit" value="Güncelle" class="btn btn-success col-md-2">
            <a class="btn btn-info col-md-2" asp-action="listofhardDrive">Geri</a>
        </div>
    </form>
</div>

