@model BstEnvanter.WebUI.Models.UpdateModelViewModel
@{
    ViewData["Title"] = "UpdateModel";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Model Güncelle</h1>
        <hr />
    </div>
    <form asp-action="updatemodel" class="col-md-8" method="post">
        <div class="form-group row pt-4">
            <label for="inputModel" class="col-md-2 col-form-label">Model</label>
            <div class="col-md-10">
                <input asp-for="model.name" id="inputModel" class="form-control" type="text" placeholder="@Model.model.name" />
                <span asp-validation-for="model.name"></span>
            </div>
        </div>
        <div class="form-group text-end">
            <input type="hidden" asp-for="model.id" />
            <input type="submit" value="Güncelle" class="btn btn-success col-md-2">
            <a class="btn btn-info col-md-2" asp-action="listofmodel">Geri</a>
        </div>
    </form>
</div>