@model BstEnvanter.WebUI.Models.UpdateCategoryViewModel
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Kategori Güncelle</h1>
        <hr />
    </div>
    <form asp-action="updatecategory" class="col-md-8" method="post">
        <div class="form-group row pt-4">
            <label for="inputCategory" class="col-md-2 col-form-label">Kategori</label>
            <div class="col-md-10">
                <input asp-for="category.name" id="inputCategory" class="form-control" type="text" placeholder="@Model.category.name" />
                <span class="text-danger" asp-validation-for="category.name"></span>
            </div>
        </div>
        <div class="form-group text-end mt-3">
            <input type="hidden" asp-for="category.id" />
            <input type="submit" value="Güncelle" class="btn btn-success col-md-2">
            <a class="btn text-white col-md-2" style="background-color:#607D8B" asp-action="listofcategory">Geri</a>
        </div>
    </form>
</div>