@model BstEnvanter.WebUI.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container-fluid">

    <form asp-action="changepassword" asp-controller="user" class="p-3 mb-3 border rounded" method="post">

        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="inputRegisterOldPassword">Old Password</label>
            <div class="col-md-10">
                <input id="inputRegisterOldPassword" asp-for="OldPassword" class="form-control" type="password" placeholder="Old Password" />
                <span asp-validation-for="OldPassword"></span>
            </div>
        </div>
        <div class="form-group row pt-4">
            <label class="col-md-2 col-form-label" for="inputChangePassword">New Password</label>
            <div class="col-md-10">
                <input id="inputChangePassword" asp-for="NewPassword" class="form-control" type="password" placeholder="New Password" />
                <span class="text-danger fw-bold" asp-validation-for="NewPassword"></span>
            </div>
        </div>

        <div class="mt-1 text-end">
            <button type="submit" class="btn btn-primary col-md-2">Change Password</button>
        </div>
    </form>
</div>
  