@model BstEnvanter.WebUI.Models.ResetUserPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Parola Resetle</h1>
        <hr />
    </div>
    <form method="post" asp-action="resetpassword" class="p-3 mb-3 col-md-8">
      
        <div class="form-group row mb-3">
            <label for="inputUserEMail" class="col-md-2 col-form-label">E-Mail</label>
            <div class="col-md-10">
                <input asp-for="newPassword" id="inputUserEMail" class="form-control" type="text" placeholder="Yeni Parola" />
                <span class="text-danger" asp-validation-for="newPassword"></span>
            </div>
        </div>

        <div class="text-end">
            <button type="submit" asp-route-id="@Model.id" class="btn btn-primary col-md-2">Güncelle</button>
            <a asp-action="listofusers" class="btn btn-info col-md-2">Geri</a>
        </div>
    </form>
</div>

