<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/Fonts.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/b-2.2.3/fc-4.1.0/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/datatables.min.css" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/b-2.2.3/fc-4.1.0/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/datatables.min.js"></script>

</head>
<body>



    <div class="container-fluid overflow-hidden">

        <div class="row vh-100 overflow-auto">

            <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">

                <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                    <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5">B<span class="d-none d-sm-inline">ST Envanter</span></span>
                    </a>
                    <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                        <li>
                            <a asp-controller="editor" asp-action="listofproduct" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">Products</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fs-5 bi-bootstrap"></i><span class="ms-1 d-none d-sm-inline">Hardware</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                                <li>
                                    <a asp-controller="editor" asp-action="listofcpu" class="nav-link px-sm-0 px-2">
                                        <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Cpu</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a asp-controller="editor" asp-action="listofgpu" class="nav-link px-sm-0 px-2">
                                        <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Gpu</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a asp-controller="editor" asp-action="listofram" class="nav-link px-sm-0 px-2">
                                        <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Ram</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a asp-controller="editor" asp-action="listofharddrive" class="nav-link px-sm-0 px-2">
                                        <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Hard Drive</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="editor" asp-action="listofcategory" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Categories</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/editor/listofbrand" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Brands</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="editor" asp-action="listofmodel" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">Models</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="editor" asp-action="listofpersonel" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">Personels</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="editor" asp-action="listofcampus" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">Campuses</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="editor" asp-action="listofdepartment" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Departments</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="editor" asp-action="listofclocation" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Locations</span>
                            </a>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <li>
                                <a asp-controller="user" asp-action="listofusers" class="nav-link px-sm-0 px-2">
                                    <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Users</span>
                                </a>
                            </li>
                        }
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1">Settings</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" asp-action="profile" asp-controller="user">My Profile</a></li>
                                <li>
                                    <a asp-controller="user" asp-action="ChangePassword" class="dropdown-item">
                                        Change Password
                                    </a>
                                </li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a asp-controller="account" asp-action="logout" class="nav-link px-sm-0 px-2">
                                        <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>

            <div class="col d-flex flex-column col-md-10 h-sm-100">

                <div class="col pt-4">
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>New Notification:</strong> @TempData["Success"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    @if (TempData["Alert"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Error:</strong> @TempData["Alert"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    @RenderBody()
                </div>
                <footer class="row bg-secondary py-4 mt-auto">
                    <div class="col"> Footer content here... </div>
                </footer>
            </div>

        </div>
    </div>
</body>
</html>
